.learn {
  background-image: url("/images/aurelien-romain-zNrKAbRsF14-unsplash.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
  color: rgb(34, 35, 38);
}

form {
  background-color: rgba(184, 188, 191, 0.5);
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
}

label#input {
  padding-top: 0px;
  margin: 10px;
  font-size: larger;
}

input#guess-input {
  margin: 20px;
  padding-left: 100px;
}

input#reset {
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  border-radius: remy(35px);
  margin: 5px;
}
input#reset:hover {
  background-color: #8c6164;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  form {
    background-color: rgba(184, 188, 191, 0.5);
    margin-left: 300px;
    margin-right: 300px;
  }

  form {
    align-items: center;
  }

  button#reset {
    padding: 0.5rem 2.5rem;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    border-radius: remy(35px);
    margin: 5px;
  }
  button#reset:hover {
    background-color: #8c6164;
    cursor: pointer;
  }
}
